<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trades</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /></head>
<body>
	<div style="margin:10px;">
		<p th:inline="text" style="display: inline">Hello [[${#httpServletRequest.remoteUser}]]!</p>
		<form th:action="@{/logout}" method="post" style="display: inline">
			<input type="submit" value="Sign Out"/>
		</form>
	</div>

	<h1 style="text-align: center">Trades</h1>
    <table class="table table-striped">
		<tr>
		    <th>ISBN</th>
		    <th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Price</th>
			<th>Category</th>
			<th></th>
			<th></th>
		</tr>  
    	<tr th:each = "trade : ${trades}">
    		<td th:text="${trade.isbn}"></td>
    		<td th:text="${trade.title}"></td>
			<td th:text="${trade.author}"></td>
			<td th:text="${trade.year}"></td>
			<td th:text="${trade.price}"></td>
			<td th:text="${trade.stock}"></td>
			<td><a th:href="@{/edit/{id}(id=${trade.isbn})}" class="btn btn-warning">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${trade.isbn})}" class="btn btn-danger">Delete</a></td>
    	</tr>
     </table>
	 <a href="/add" class="btn btn-success">Add trade</a>
</body>
</html>