<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align:center; margin: 30px auto">Login</h1>

    <div style="width: 80%; text-align:center; margin:auto">
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <label> Username : <input type="text" name="username" class="form-control"/> </label>
            <br>
            <label> Password : <input type="password" name="password" class="form-control"/> </label>
            <br>
            <input type="submit" value="Sign In" class="btn btn-primary" style="margin-top: 20px; width:85px; height: 38px"/>
        </form>
        <a th:href="@{/signup}" class="btn btn-secondary" style="margin: 20px auto; width:85px; height: 38px">Sign-up</a>
    </div>
</body>
</html>